@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
$fontsize: 14px;
$font-color: #565656;
$shadow: 15px 15px 20px #4784d4;
$titleColor: #019edc;
$color: #5eccf7;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RocknRoll One', sans-serif;
  color: $font-color;
  .app {
    margin-top: 5%;
    .main-container {
      .main-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        text-align: center;
        color: $titleColor;

        font-size: $fontsize + 9;
        img {
          margin-top: 15px;
          height: 90px;
        }
      }
      .content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @media screen and (max-width: 1000px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .left-container {
          @media screen and (max-width: 1000px) {
            width: 100%;
          }
          display: flex;
          justify-content: center;
          width: 45vw;
          .edit-container,
          .add-container {
            display: flex;
            flex-direction: column;
            h2 {
              display: flex;
              justify-content: center;
              color: $titleColor;
              font-size: $fontsize + 20;
            }

            form {
              display: flex;
              flex-direction: column;

              .title {
                margin: 1rem auto;
                input {
                  min-width: 192px;
                  box-shadow: $shadow;
                }
              }

              .description {
                margin: 1rem auto;
                input {
                  min-width: 192px;
                  box-shadow: $shadow;
                }
              }
              .deadline {
                min-width: 192px;
                margin: 1rem auto;
                box-shadow: $shadow;
              }
              button {
                margin: 0.5rem auto;
                box-shadow: $shadow;
              }
            }
          }

          .details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background: $color;
            box-shadow: $shadow;
            margin-bottom: 1rem;
            height: 22rem;
            width: 25rem;
            border-radius: 0.5rem;
            padding: 2rem;
            font-size: $fontsize + 2;
            .date-details {
              margin-top: 1rem;
              font-size: $fontsize;
            }
          }
        }
        .right-container {
          @media screen and (max-width: 1000px) {
            width: 100%;
            align-items: center;
            margin-top: 50px;
          }
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 45vw;
          .add-button-box {
            min-height: 68.5px;
            @media screen and (max-width: 1000px) {
              display: flex;
              justify-content: center;
            }
            button {
              color: $font-color;
              background-color: $color;
              margin-bottom: 2rem;
              box-shadow: $shadow;
            }
          }
          .cards-container {
            padding: 1px;
            display: flex;
            flex-direction: column;
            .card {
              background: $color;

              box-shadow: $shadow;

              margin-bottom: 1.9rem;
              height: 4rem;
              width: 25rem;
              border-radius: 0.5rem;
              padding: 1rem;
              .card-title {
                height: 60%;

                font-size: $fontsize + 1;
              }
              .card-buttons {
                display: flex;
                justify-content: flex-end;
                margin: 0 0.5rem;
                font-size: $fontsize + 7;

                cursor: pointer;
                .edit-button {
                  margin: 0.5rem;
                }
                .delete-button {
                  margin: 0.5rem;
                  color: rgb(234, 14, 14);
                }
              }
            }
          }
        }
      }
    }
  }
}
